# ==================== general ====================
numFolds = 10

# ==================== config for univariate time series ====================
# run TS-CHIEF for univariate if true
uts.run = False

# uts.dataSource can be ARIMA/benchmark
uts.dataSource = ARIMA

# if ARIMA, 
uts.dataReadLocation = src/main/java/experiments/data/tsc/generated/
# else if benchmark
# uts.dataReadLocation = src/main/java/experiments/data/tsc/Univariate_arff/

uts.resultsWriteLocation = results_testing/

# datasets used when dataSource = benchmark 
uts.problems = Earthquakes,ECG200,BeetleFly,BirdChicken,Chinatown,Coffee,Computers,DistalPhalanxOutlineCorrect,DodgerLoopGame,DodgerLoopWeekend,ECGFiveDays,FordA,FordB,FreezerRegularTrain,FreezerSmallTrain,GunPoint,GunPointAgeSpan,GunPointMaleVersusFemale,GunPointOldVersusYoung,Ham,HandOutlines,Herring,HouseTwenty,ItalyPowerDemand,Lightning2,MiddlePhalanxOutlineCorrect,MoteStrain,PhalangesOutlinesCorrect,PowerCons,ProximalPhalanxOutlineCorrect,SemgHandGenderCh2,ShapeletSim,SonyAIBORobotSurface1,SonyAIBORobotSurface2,Strawberry,ToeSegmentation1,ToeSegmentation2,TwoLeadECG,Wafer,Wine,WormsTwoClass,Yoga

# ==================== config for multivariate time series ====================
# run for multivariate if true
mts.run = True

# file path for loading data and saving result
mts.dataReadLocation = src/main/java/experiments/data/mtsc/
mts.resultsWriteLocation = results_testing/

# classifiers to test for 
mts.classifiers = DTW_D,DTW_A,CIF

# datasets
mts.problems=Heartbeat,SelfRegulationSCP1,SelfRegulationSCP2,FingerMovements,MotorImagery,FaceDetection
